<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>New Post</title>
  </head>
  <body>

    <form method="POST" action="/posts">
      <input type="author" name="author" class="author"/>
      <input type="date" name="date" class="date"/>
      <input type="text" name="text" class="text"/>
      <input type="submit" value="Submit" />
    </form>

  </body>
</html>
